

body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: url('https://images.unsplash.com/photo-1516117172878-fd2c41f4a759') center/cover no-repeat;
  height: 100vh;
  padding-top: 80px;
}

/* Navbar */
.navbar-brand {
  letter-spacing: 1px;
}

/* Kártyák */
.card img {
  height: 200px;
  object-fit: cover;
}
.card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

/* Lábléc ikon hover */
footer a:hover {
  color: #dc3545;
}
